<!-- Left component -->
<div class="columns is-multiline" *ngIf="orientation == 'left'">
  <div class="column is-5">
    <p class="subtitle project-subtitle">{{title}}
      <br/>
      <small class="small-text">{{work}}</small>
    </p>
    <div class="shorten-hr">
      <hr/>
    </div>
    <p class="description-text">{{description}}</p><br/><br/>
    <a href="{{linkHref}}">Visit {{title}}</a>
  </div>
  <div class="column is-7 image-container">
    <div class="wrapper transform-right">
      <img class="project-image" src="{{imageSrc}}" alt="Image"/>
    </div>
  </div>
</div>

<!-- Right component -->
<div class="columns is-multiline has-text-right" *ngIf="orientation == 'right'">
  <div class="column is-7 image-container">
    <div class="wrapper transform-left">
      <img class="project-image transform-left" src="{{imageSrc}}" alt="Image"/>
    </div>
  </div>
  <div class="column is-5">
    <p class="subtitle project-subtitle">{{title}}
      <br/>
      <small class="small-text">{{work}}</small>
    </p>
    <div class="shorten-hr-right">
      <hr/>
    </div>
    <p class="description-text">{{description}}</p><br/><br/>
    <a href="{{linkHref}}">Visit {{title}}</a>
  </div>
</div>
