<div class="main-container">
  <section class="hero is-dark is-fullheight main-view">
    <div class="decorative-logo" id="decorative-logo">
      <img src="../../assets/images/main-view-image.png" alt="Web"/>
    </div>
    <div class="hero-body main-view-body">
      <div class="side-nav-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div class="container has-text-centered welcome-container" id="welcome-container">
        <h1 class="title" id="page-title">Hello! It is a <span class="underline-blue"><span
          class="clear-white">pleasure</span></span> to meet you.</h1>
        <h2 class="subtitle" id="page-subtitle">My name is <span class="highlight-blue">Stephen</span>, and welcome to
          my
          website.</h2>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-centered">
        <div class="learn-me-container">
          <div class="learn-me">Learn about me</div>
        </div>
      </div>
    </div>
  </section>

  <div class="navigable-page-container">
    <div class="columns is-multiline">
      <div class="column is-full ">
        <app-section [side]="'left'" [title]="'about me'" [description]="'Computer Scientist by day, avid video gamer by night. I know, not as cool as being Batman but hey, what can you do? I have a passion for developing websites, applications and professional grade UI/UX experiences. On top of that, I love to play soccer and hockey, watch movies and study astronomy and astrophysics.'"></app-section>
      </div>
      <div class="column is-full">
        <app-section [side]="'right'"></app-section>
      </div>
      <div class="column is-full">
        <app-section [side]="'left'"></app-section>
      </div>
    </div>
  </div>

</div>
