@import "../../scss/theme.scss";


.main-view {
  font-family: Poppins, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: $primary-color;
  background: -webkit-radial-gradient($primary-gradient, $primary-color);
  background: -o-radial-gradient($primary-gradient, $primary-color);
  background: -moz-radial-gradient($primary-gradient, $primary-color);
  background: radial-gradient($primary-gradient, $primary-color);
}
.side-nav-toggle {
  color: $accent;
  position: fixed;
  top: 5%;
  right: 5%;
  .fa {
    font-size: 2em;
  }
  &:hover {
    cursor: pointer;
  }
}
.decorative-logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-size: 2em;
  width: 70%;
  height: auto;
  text-align: center;
}
.main-view-body > div {
  padding-bottom: 20px;
}
.welcome-container {
  padding: 50px 0 50px 0;
  border-top: 2px solid $accent;
  border-radius: 100px;
  margin-top: 200px;
  .title {
    font-size: 3.5vw;
    font-weight: 600;
  }
  .subtitle {
    font-size: 2vw;
    font-weight: 300;
    padding-top: 25px;
  }
}
.underline-blue {
  color: $accent;
  text-decoration: underline;
}
.clear-white {
  color: white;
}
.highlight-blue {
  color: $accent;
}
.learn-me-container {
  margin-bottom: 200px;
}
.learn-me {
  width: 250px;
  margin: 0 auto;
  padding: 14px 30px 14px 30px;
  background-color: $accent;
  color: white;
  border-radius: 150px;
  border: 1px solid transparent;
  transition: background-color 0.25s linear, color 0.25s linear, border 0.25s linear;
  -webkit-transition: background-color 0.25s linear, color 0.25s linear, border 0.25s linear;
  -moz-transition: background-color 0.25s linear, color 0.25s linear, border 0.25s linear;
  -o-transition: background-color 0.25s linear, color 0.25s linear, border 0.25s linear;
  &:hover {
    background-color: transparent;
    border: 1px solid $accent;
    color: $accent;
    cursor: pointer;
  }
}

